@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: "Icones";
    src: url("fonts/icones.ttf") format("ttf");
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-slate-50 text-slate-800; /* Dica extra: define um fundo base suave */
}
